@model List<Models.EF.ProductCategory>

<div class="categories">
    <ul>
        <h3>Danh Mục Sản Phẩm</h3>
        @foreach (var item in Model)
        {
            <li><a href="/danh-muc/@item.MetaTitle-@item.ID">@item.Name</a></li>
        }
    </ul>
</div>
